[2021-01-17 10:31] emansih commented on #144
This is a minor bug because I removed Jetifier. Will be fixed in the next release.

[2021-01-18 05:31] #144 closed

[2021-01-18 06:18] gthbusrr opened #145 "Editing a transaction requires luck 😂"
**Firefly III Server Version:**
- 5.4.6 (Latest)

**Firefly III Mobile Version:**
- 4.0.2 (Latest)

**Android Version:**
- 10

**Device Information:**

- BRAND: Samsung
- MODEL: Galaxy Note20 Ultra
--------------------------------------

## Expected Behavior
- Able to update transactions.

## Current Behavior
- Sometimes, when I try to edit a transaction, it just jump right back to detail screen a

[2021-01-18 07:18] emansih commented on #145
kinda hard to replicate such an issue.

[2021-01-18 07:21] gthbusrr commented on #145
I'll try to do screen recordings of me editing transactions next time. But just my guess, it might be something to do with variables not resetting / initialising correctly after each submission / cancellation

[2021-01-19 01:34] gthbusrr commented on #145
Hi, I've successfully recreated the bug.

**Step to Reproduce**
1. Edit "Transaction A"
2. Save (Transaction Updated shown and Transaction A successfully updated)
3. Tab Edit in details page of "Transaction B" (Jumped right back to details page of "Transaction B", showing "Transaction Updated" at the bottom and Transaction B updated with details of transaction A... I don't even have the chance to

[2021-01-22 08:43] gthbusrr opened #146 "Duplicated transactions will be created (Usually in Split Transactions)"
**Firefly III Server Version:**
- 5.4.6 (Latest)

**Firefly III Mobile Version:**
- 4.0.2 (Latest)

**Android Version:**
- 10

**Device Information:**

- BRAND: Samsung
- MODEL: Galaxy Note20 Ultra
--------------------------------------

## Expected Behavior
- Create only ONE transaction.

## Current Behavior
- 2 Identical transactions are being created.

## Steps to Reproduce
- Create a SPLIT tra

[2021-02-02 09:18] emansih commented on #146
Hi. I have been trying to replicate this issue but I am unable to do it.

[2021-02-02 09:33] emansih commented on #145
Will be fixed in the next release

[2021-02-11 18:26] mondlicht-und-sterne commented on #142
Since the issue dates back a long time - can you just close
the issue? Thank you, my initial Issue was also just information.

[2021-02-11 22:46] emansih commented on #142
sure. you can close it too.

[2021-02-11 22:46] #142 closed

[2021-02-16 05:51] #145 closed

[2021-02-18 10:01] corch1988 opened #151 "Crash when trying to access account in settings"
**Firefly III Server Version:**
5.4.6

**Firefly III Mobile Version:**
4.0.4

**Android Version:**
11
Oxygen OS 11.0.3.3.IN11BA

**Device Information:**

- BRAND: OnePlus
- MODEL: 8 Pro (IN2023)
--------------------------------------

## Expected Behavior
Accessing some account settings

## Current Behavior
App Crash

## Steps to Reproduce
Login with personal token. Try accessing "Settings -> Acco

[2021-02-18 11:41] emansih commented on #151
Will be fixed in the next release

[2021-02-20 22:15] darnir commented on #124
I would absolutely love this feature!

[2021-02-20 22:38] emansih commented on #124
@darnir the feature has existed for quite some time. try it.

[2021-02-20 22:38] #124 closed

[2021-02-22 08:20] ryan77627 opened #152 "Crash on launch"
**Firefly III Server Version:** 5.4.6

**Firefly III Mobile Version:** 4.0.4

**Android Version:**  11

**Device Information:**  MI8 on PixelExperience rom

- BRAND: xiaomi
- MODEL: mi 8
--------------------------------------

## Expected Behavior
Expected to launch properly after setting up app and authenticating using access token (not oauth)
## Current Behavior
Crashes on launch. EDIT: I should

[2021-02-22 08:26] ryan77627 commented on #152
Please excuse my being dumb, I noticed the version string in the log a bit too late. For whatever reason fdroid downloaded a **really** old version. Sorry!

[2021-02-22 08:26] #152 closed

[2021-02-24 23:44] emansih commented on #151
Fixed in 4.1.0, it's being rolled out via play store now.

[2021-02-24 23:44] #151 closed

[2021-03-01 16:54] haho16 opened #153 "Crash on launch since update to v4"
**Firefly III Server Version:**
v5.4.6
**Firefly III Mobile Version:**
4.1.0 (latest on Fdroid)
**Android Version:**
7.1.2 (lineageOS 14.1)
**Device Information:**

- BRAND: Xiaomi
- MODEL: Redmi4a
--------------------------------------

## Expected Behavior
Start the app after update
## Current Behavior
Getting crash reports
## Steps to Reproduce

[Fireflyiii-mobile.txt](https://github.com/emansi

[2021-03-01 21:29] emansih commented on #153
I'm not sure why this issue is happening. Are you connected to your server?

[2021-03-03 15:50] haho16 commented on #153
Hey @emansih. After reinstalling the app and connecting with a new personal token it is working well now :) Maybe it was a connection issue with the server due to misconfiguration unknown to me. Closing the issue and thanks a lot for the help!

[2021-03-03 15:50] #153 closed

[2021-03-11 00:27] emansih commented on #143
Migrated in latest release 4.4.0

[2021-03-11 00:27] #143 closed

[2021-03-11 21:17] luifermoron opened #154 "Feature proposal"
**Feature proposal:**

After making a transaction the bank app give me a image with transaction details, but I have to write manually again on the app. I am working on automatization through OCR. This is still a Hello World but I would be great if you accept this feature so we can work together.

**Proposal workflow:**
1) User go to OCR settings and set "Tags" in order for looking up later thorugh

[2021-03-11 21:45] emansih commented on #154
Does it use any 3rd party libs? I am hesitant to add architecture specific libs since fdroid users will see an increase in APK size. However, your idea looks cool and I would love to see some implementation. I will assist you if you need any help in the code base.(The code isn't clean ;p)

[2021-03-12 14:50] luifermoron commented on #154
Yes it does. In fact, I imported [this]( https://github.com/SubhamTyagi/android-ocr) project as a module and remove all UI stuffs. I can make a pull request of the branch so you can analyse it deeper.

Thanks for your help, I am now in the moment of start touching DB, so Help will be needed. I will take a look of it and no doubt about asking if emerged a question.

[2021-03-12 16:10] gthbusrr opened #155 "Creating Transaction Takes forever"
I am really greatful for this app, sorry for again reporting an issue (It could be on me)

**Firefly III Server Version:**
- 5.4.6 (Latest)

**Firefly III Mobile Version:**
- 4.4.0 (Latest)

**Android Version:**
- 11

**Device Information:**

- BRAND: Samsung
- MODEL: Galaxy Note20 Ultra
--------------------------------------

## Expected Behavior
- Transaction(s) to be created

## Current Behavio

[2021-03-12 16:17] gthbusrr opened #156 "[Feature Request] Get Summary of Tags/Categories"
**Firefly III Server Version:**
- 5.4.6 (Latest)

**Firefly III Mobile Version:**
- 4.4.0 (Latest)

**Android Version:**
- 11

**Device Information:**

- BRAND: Samsung
- MODEL: Galaxy Note20 Ultra
--------------------------------------

## Proposed Feature
- See "Summary" (See attached Screenshot) when clicked into a Tag (Side Menu ≡ ⇒ Classification ⇒ Tags ⇒ {Specific Tag}) or Category (Side Men

[2021-03-12 17:56] mehuser commented on #155
Hi,
I'm having the same problem, but in offline mode: could it be related to this [line](https://github.com/emansih/FireflyMobile/blob/befb8d2db73310b858583de2a1f258a8d96744d8/app/src/main/java/xyz/hisname/fireflyiii/repository/transaction/TransactionRepository.kt#L277) outside of the `return try {` block on line 278 of the same file?

[2021-03-12 22:56] emansih commented on #155
The reason it is loading forever because Firefly III is returning an unexpected json value. I am not able to replicate this behavior on 5.4.6, however I am able to replicate this behavior on the demo site(5.5.0-beta.1).

The issue is with bill_id returning an integer value of "0" on 5.4.6 when no bill is attached to the transaction. On 5.5.0-beta.1, bill_id returns an empty string when no bill is

[2021-03-12 23:01] emansih commented on #155
This is the output of 5.4.6

[code]

This is the output of the demo site

[code]

Notice how various id is now a string instead of integer / long value? It's breaking the json parsing. This only occurs on beta versions though. Please check if you are really running on **stable** version

[2021-03-13 05:25] JC5 commented on #155
Bill ID should now be null or a string. Hope to release beta 2 and the updated API docs this weekend.

[2021-03-13 05:28] emansih commented on #155
It can't be an integer value for id(s)? I feel it's easier to parse than string

[2021-03-13 06:11] JC5 commented on #155
https://jsonapi.org/format/#document-resource-objects

It appears they must be strings. I'm pouring over the API to update it.

[2021-03-13 06:27] gthbusrr commented on #155
Yes, I've double checked that I'm running on the stable version. Thanks.

Debug information generated at 2021-03-13 14:26:55 Asia/Hong_Kong for Firefly III version **5.4.6**.

| Scope | Version |
| --- | --- |
| Firefly III | 5.4.6 |
| Firefly III API | 1.4.0 |
| PHP | 7.4.14 |
| Host | Linux |

| System info | Value |
| --- | --- |
| Using docker? | true |
| Telemetry | false |
| Layout | v1 |
|

[2021-03-13 08:47] emansih commented on #155
@gthbusrr  can you try this APK? It will display the error
https://drive.google.com/file/d/1K4qGbDDRsqez3GIE4V-TJ_7DiXgMOz8s/view?usp=sharing

[2021-03-13 11:52] emansih commented on #156
Will be available in the next release

[2021-03-13 15:33] gthbusrr commented on #155
@emansih I am terribly sorry that I am not able to produce any error message with the apk you've provided.

# Step to reproduce:
- Click "Transactions" Tile
- Create Withdrawal Transaction
- Loading Circle Spins Forever

![signal-2021-03-13-233019](https://user-images.githubusercontent.com/77537216/111035220-4d3bb080-8411-11eb-8127-086a5b7685f9.jpeg)

[2021-03-13 15:34] gthbusrr commented on #155
@emansih Is there a debug version that I can get the log from logcat?

[2021-03-13 18:20] mehuser opened #157 "Cannot add transaction in offline mode (forever spinning circle)"
**Firefly III Server Version:**
5.5.0-beta.1 (also tested with 5.4.6)

**Firefly III Mobile Version:**
4.3.0 - Fdroid

**Android Version:**
Android 11 - GrapheneOS

**Device Information:**

- BRAND: google
- MODEL: Pixel4a
--------------------------------------

## Expected Behavior
In offline mode, when I add a transaction, I expect to receive message the message "Transaction will be added when y

[2021-03-13 23:56] emansih commented on #155
@gthbusrr and @mehuser try this APK. It will crash and show you the stack trace. https://drive.google.com/file/d/1D5eNA9is_4VuGj5lh9Yz4XNBPUnQe3zF/view?usp=sharing

[2021-03-13 23:58] emansih commented on #157
Hi. I am closing this issue because it is a duplicate of #155 . I have provided an APK https://github.com/emansih/FireflyMobile/issues/155#issuecomment-798804162 for you to try. It should crash and show you the stack trace.

[2021-03-13 23:58] #157 closed

[2021-03-14 01:17] gthbusrr commented on #155
@emansih I've tried it but still didn't crash. Please see attached screen recording (I've cut it short due to file size constraint on GitHub. The spinning circle spins forever.)

https://user-images.githubusercontent.com/77537216/111054229-ed6df580-8462-11eb-96c1-bb15db70f95d.mp4

[2021-03-14 08:42] emansih commented on #155
@gthbusrr After some debugging, I have fixed the issue. https://drive.google.com/file/d/1I-zfk0rqo-MMoUXxANb0mi3tpa6M4nib/view?usp=sharing

[2021-03-14 09:01] mehuser commented on #155
Hi,
I've just tried the last APK. After switching to 4G (going "offline", since my internal FF host is not published) and creating a new transaction, the application crashes with the attached stacktrace (i've redacted my internal FF FQDN)
[firefly-mobile_crash.txt](https://github.com/emansih/FireflyMobile/files/6136335/firefly-mobile_crash.txt)

[2021-03-14 09:23] emansih commented on #155
@mehuser Are you able to add transaction when you are connected to your server though?

[2021-03-14 09:27] mehuser commented on #155
Yes. As soon as I reconnect to my wifi connection, the transaction is added correctly.

[2021-03-14 09:32] emansih commented on #155
@mehuser I will be pushing a new release. Will be available via Google Play in a few hours.

[2021-03-14 09:35] #155 closed

[2021-03-14 09:36] mehuser commented on #155
Thank you. Since I'm using the Fdroid release (no play services here on grapheneos), is there a way to get that APK via a different channel?

[2021-03-14 10:04] emansih commented on #155
via my self hosted fdroid instance. updates via that channel is instant

[2021-03-14 10:17] gthbusrr commented on #156
I seem to get all transactions for current month rather than transactions associated with the tag. And the vast amount of transactions crashed the app :( 😂

Thank you very much for your effort.

[2021-03-14 10:45] emansih commented on #156
ya the paging is a little buggy

[2021-03-14 23:07] mehuser opened #158 "Transaction not uploaded after returning online"
**Firefly III Server Version:**
 5.5.0-beta.1

**Firefly III Mobile Version:**
4.5.0

**Android Version:**

**Device Information:**
 Android 11 - GrapheneOS
- BRAND: google
- MODEL: Pixel4a
--------------------------------------

## Expected Behaviour
After adding a transaction while offline and receiving the message "will be added when you are back online", the transaction gets synced as soon as

[2021-03-14 23:31] emansih commented on #158
yes I notice this bug a few days ago. I will fix it when I have the time

[2021-03-15 09:40] gthbusrr opened #159 "App Crashes while creating Deposit Transaction"
**Firefly III Server Version:**
- 5.4.6 (Latest)

**Firefly III Mobile Version:**
- 4.5.0 (Latest)

**Android Version:**
- 11

**Device Information:**

- BRAND: Samsung
- MODEL: Galaxy Note20 Ultra
--------------------------------------

## Expected Behavior
- Successfully creates transaction.

## Current Behavior
- App Crashes.

## Steps to Reproduce
- Create Deposit Transaction
- App Crashes

[c

[2021-03-15 09:48] gthbusrr commented on #159
Turns out, it did successfully created a transaction on server... Just that the app crashed and didn't show any success return

[2021-03-15 10:54] emansih commented on #159
I have only seen this bug in debug builds. It's really hard to replicate it

[2021-03-15 10:56] emansih commented on #159
It happens probably 1 in 20 times?

[2021-03-15 11:17] gthbusrr commented on #159
For that specific transaction, it happens every single time😂

I don't know if giving you the specific of the transaction helps though..

[2021-03-15 14:12] TacoTheDank commented on #143
Thanks!

[2021-03-15 14:17] gthbusrr commented on #159
Creating any transaction generates the same error. As it's something to do with database (?) I tried re-installing the app. I've successfully logged in. However, I can retrieve nothing other than the four boxes on dashboard (Net worth, etc.) After several attempts, including clearing cache, rebooting my phone, clearing data, re-installing, generating new PATs, etc... I finally came up with a solut

[2021-03-15 14:25] gthbusrr commented on #159
Please let me know if I should create a new issue:-

- Showing several days of transactions only works on v4.3.0

[2021-03-18 18:14] luxcel opened #160 "Notes field is not correctly assigned in Tasker Plugin"
**Firefly III Server Version:**
5.4.6
**Firefly III Mobile Version:**
4.3.0
**Android Version:**
11
**Device Information:**

- BRAND: ASUS
- MODEL: ZenPhone 6
--------------------------------------

## Expected Behavior
When using the Tasker Plugin to add a new Deposit the "Notes" field should be addes as "Notes".

## Current Behavior
Using the Tasker Plugin to add a new Deposit the "Notes" field

[2021-03-19 00:14] emansih commented on #160
Fixed. Will be pushed to Play store in a few days time. If you are enrolled to Play Store beta testing program, you will receive the update soon. You will have to delete the task before adding before taking effect though. sorry about that

[2021-03-19 11:37] #160 closed

[2021-03-22 07:18] #158 closed

[2021-04-09 02:59] #132 closed

[2021-04-11 00:53] ruifung opened #161 "App crashes due to Firefly III > 5.5.3 returning DateTime strings instead of Date only strings"
**Firefly III Server Version:**
5.5.6
**Firefly III Mobile Version:**
4.6.0
**Android Version:**
10
**Device Information:**
- BRAND: Nokia
- MODEL:  6.1 Plus
--------------------------------------

## Expected Behavior
Going into piggy bank screen should display list of piggy banks

## Current Behavior
It crashes due to firefly API changes now returning ISO Date-Time strings rather then Date only

[2021-04-11 02:02] emansih commented on #161
I'm aware of it but I don't have the time to fix it. Will fix it by the end of the month

[2021-04-12 14:52] corcom opened #162 "Budget values dont show in the budget tab"
**Firefly III Server Version:**
5.5.3
**Firefly III Mobile Version:**
4.6.0
**Android Version:**
11
**Device Information:**

- BRAND: google
- MODEL: pixel 4a
- OS: CalyxOS 2.4.0
--------------------------------------

## Expected Behavior
Open the budget tab and see the set value for each budget and how much was already used
## Current Behavior
Budget tab only shows the amount used while show 0 a

[2021-04-12 23:49] emansih commented on #162
Hi. I am aware of this issue. There are new API updates on Firefly 5.5.3. I will fix it this weekend.

[2021-04-13 06:43] corcom commented on #162
Thats great! Thanks for all the great work!

[2021-04-16 13:04] #161 closed

[2021-04-16 13:05] emansih commented on #161
It's rolling out via Google Play Store as we speak.

[2021-04-16 13:05] emansih commented on #162
It's rolling out via Google Play Store as we speak.

[2021-04-16 13:14] corcom commented on #162
Great! F-droid too?

[2021-04-16 13:24] emansih commented on #162
It will take a couple of days for it to show up on official fdroid store.

[2021-04-16 13:29] corcom commented on #162
Is there a private repository that i can add?

[2021-04-16 13:38] emansih commented on #162
https://github.com/emansih/FireflyMobile/wiki/FDroid

[2021-04-17 07:19] corcom opened #163 "Crash when switching tabs"
**Firefly III Server Version:**
5.5.3
**Firefly III Mobile Version:**
4.7.0
**Android Version:**
11
**Device Information:**

- BRAND: google
- MODEL: pixel 4a
--------------------------------------

## Expected Behavior
When switching tabs from the dashboard to any other tab (bills, piggy bank, about, etc)
The selected tab will show up
## Current Behavior
When selecting a tab the app crashes.
Alth

[2021-04-17 07:25] corcom commented on #162
Thanks a lot!

[2021-04-17 07:25] #162 closed

[2021-04-17 07:28] emansih commented on #163
The bug is inconsistent though. If you were to wait a couple of seconds for the dashboard to load, it wouldn't crash. Odd bug

[2021-04-17 07:32] corcom commented on #163
That is bot the case, waiting doesn't help, only if i scroll down even a tiny bit it wont crash, otherwise it crashes

[2021-04-17 07:34] corcom commented on #163
It seems that the crash is prevented only if i scroll at least until the "create new transaction" button folds

[2021-04-27 11:28] angubite opened #164 "Problem authenticating with oauth"
**Firefly III Server Version:**
5.5.9
**Firefly III Mobile Version:**
4.7.0
**Android Version:**
10
**Device Information:**

- BRAND:
- MODEL:
--------------------------------------

## Expected Behavior
Connect to private yunohost server through mobile app using oauth
## Current Behavior
I'm running a firefly instance on my yunohost server. I created an oauth client and then tried authenticating

[2021-04-27 14:18] emansih commented on #164
Hi. I have not tested against yunohost. From what I can tell, the issue is that the redirect uri does not contain a token.

[2021-05-01 14:10] emansih commented on #164
@angubite Hi. Are you still having OAuth issues?

[2021-05-15 11:26] JesApp commented on #164
I have the some problem and I also host via yunohost. Seems to be related to that specific setup, rather than the app.

[2021-05-15 11:47] JesApp commented on #164
Also, yunohost currently ships firefly II v5.4.6. I have opened an issue [here](https://github.com/YunoHost-Apps/firefly-iii/issues/39).

[2021-05-15 11:51] emansih commented on #164
@JesApp does Personal Access Token work?

[2021-05-15 11:54] JesApp commented on #164
No, it throws a JSON parsing error. I was going to create an issue on that, when I found out that yunohost is out of date. If that problem still occurs after an update, I'll let you know.

[2021-05-15 12:00] emansih commented on #164
Ah yes. I forgot it wouldn't work since the app is using the newer Firefly III API for Personal Access Token.

[2021-05-19 20:59] j0risj opened #168 "Can't authenticate, "Please install a web browser""
**Firefly III Server Version:**
5.5.10
**Firefly III Mobile Version:**
4.8.0
**Android Version:**
11
**Device Information:**
- BRAND: Google
- MODEL: Pixel 4a
--------------------------------------

## Current Behavior
When trying to authenticate via oauth the error message "No application can handle this request. Please install a web browser" pops up. It doesn't matter which URL you put into the

[2021-05-19 21:51] emansih commented on #168
What browser are you using?

[2021-05-19 21:55] j0risj commented on #168
I have Firefox and Firefox Focus installed. I already tried to change the default browser, but that doesn't seem to help.

[2021-05-19 22:28] emansih commented on #168
Seems to be related to this issue. https://developer.android.com/about/versions/11/privacy/package-visibility

[2021-05-19 22:42] emansih commented on #168
@j0risj try this https://drive.google.com/file/d/1SNFXQkYfo62B7PNgkvhDhFyeOcTWoEEf/view?usp=sharing

[2021-05-19 23:00] j0risj commented on #168
That fixed it, thank you very much.

[2021-05-19 23:28] emansih commented on #168
nice. I will push a release tonight.

[2021-05-19 23:28] #168 closed

[2021-05-20 23:56] emansih commented on #154
Hi. I am closing this issue.

[2021-05-20 23:56] #154 closed

[2021-06-11 17:06] los2pollos opened #171 "Login Fail with PAT / Oauth in the same network"
**Firefly III Server Version:**
Version 5.5.12

**Firefly III Mobile Version:**
Version 4.9.0

**Android Version:**
Android 10 - Lineage OS

**Device Information:**

- BRAND: Samsung
- MODEL: Note 9
--------------------------------------

## Expected Behavior
Login with PAT / OAuth. The server is in my same network since I have it running in a docker container on my personal server. I don't have a

[2021-06-11 18:39] emansih commented on #171
Hi. The app only supports HTTPS protocol

[2021-06-12 08:52] los2pollos commented on #171
So far as I have understood, Firefly III does not support HTTPS. So what is the solution?
Can I enable HTTPS on Firefly III?

[2021-06-12 09:05] emansih commented on #171
Hi. Yes you can enable HTTPS on Firefly III. I do not know what is your setup. I suggest reading the manual at https://docs.firefly-iii.org/firefly-iii/

[2021-06-12 10:04] los2pollos commented on #171
I've used docker-compose -d up with these two files adapted to my setup:
[https://dbtechreviews.com/wp-content/uploads/2020/08/Firefly-III.zip](url)

The app is up and running.
Firefly is on port 8003 on the same host that was composed with, same IP.
I've found this guide: [https://gist.github.com/optimistic5/ca5a4a8593dcdb7360f712d37a0cc657](url), but I'm not very sure about next steps.

[2021-06-12 12:05] emansih commented on #171
Are you using self signed cert or let's encrypt?

[2021-06-14 07:24] los2pollos commented on #171
I'm not using none of them. I can not understand how to set certificates up for Firefly. It's running in a Docker container.
Should I create a self signed cert for the FireFlyMobile app straightly from the system that hosts the Firefly container?

[2021-06-14 10:02] emansih commented on #171
Hi. This is out of scope of this project. What I can tell you is you will need to create a cert for your docker container and if it's a self signed cert, import it to your android device or import it via the app.

[2021-06-14 12:50] los2pollos commented on #171
I got this error while using the self signed certificate I created in the docker container

REPORT_ID=1be233c1-9158-4337-8928-3d42514327cb
APP_VERSION_NAME=4.9.0
PHONE_MODEL=SM-N960F
BRAND=samsung
PRODUCT=crownltexx
ANDROID_VERSION=10
BUILD_CONFIG=
STACK_TRACE=java.lang.RuntimeException: java.lang.reflect.InvocationTargetException
at com.android.internal.os.RuntimeInit$MethodAndArgsCaller.run(Runt

[2021-06-29 12:53] emansih commented on #171
Sorry about that. I recently got back to development again. I will look into your issue.

[2021-06-29 13:13] emansih commented on #171
@los2pollos Hi. How do i replicate this bug? What are the steps you did to crash the app?

[2021-06-30 16:02] Biskit1943 opened #172 "Editing a split transaction will vanish all but root transaction"
**Firefly III Server Version:**

5.5.11

**Firefly III Mobile Version:**

1.10.0

**Android Version:**

10.0.0.183(C432E8R1P3)

**Device Information:**

- BRAND: HUAWEI
- MODEL: BLA-L29
--------------------------------------

## Expected Behavior

Editing a split transaction should not delete all splits but the root.

## Current Behavior

After editing a split transaction I can only find the root

[2021-06-30 16:19] Biskit1943 commented on #172
I just crawled a bit through the database and the transactions are still there (as far as I can tell). But I don't know how to connect them again

[2021-07-01 11:16] emansih commented on #172
Hi. Sorry for the late reply. Currently editing split transactions will only edit the specific transaction and not the root transaction. It should not merge / delete any transaction.

[2021-07-03 20:56] Biskit1943 commented on #172
Well, it did...

[2021-07-18 18:39] #77 closed

[2021-07-30 21:57] tomasz-lasko opened #174 "Multiple logins to different user accounts/Firefly instances"
Hello, nice app, but is it planned to support having multiple users and/or Firefly servers instances logged in and switching between them?

For example: if I have Alice on https://some.example.com and Bob on https://other.example.com, then I would like to have them both logged in and switch between them, and even use them offline.

From what I see in the app UI, the email address of my user seems

[2021-07-30 22:27] emansih commented on #174
Hello. I did thought of implementing such a feature but

- You are using this on a _mobile_ device. Do you need to have multiple accounts?
- Firefly III doesn't support multiple accounts

If such a feature is in hot demand, I can implement it but it will probably take half a month due to my current life commitments

[2021-07-31 14:41] tomasz-lasko commented on #174
Yes, exactly - one mobile device application and inside this application I switch between different Firefly III user accounts. These accounts can be on same Firefly III server installation, and/or can be on separate server installation - actually nobody cares on which server they are, because indeed they are completely separate on the server. So Firefly III server supports multiple accounts, they

[2021-08-07 13:45] kopach opened #176 "Allow http connection"
Please, allow insecure connection to firefly III server over http. I do have firefly server running in my local env. When I need to access server over internet - I use VPN to connect to local network. There is no reason trying to setup https in this case.
Any chance this mobile app could allow insecure connection? Maybe with some danger warning?

[2021-08-08 07:44] emansih commented on #176
I have stated many times, http is not supported. i have made it easy to import self signed cert. If you need http support, build the app with the following changes: https://github.com/blacjac21/FireflyMobile/commit/a95406cf572b88e65727bdda2e101a6151adfc76

[2021-08-08 07:44] #176 closed

[2021-08-27 17:12] leander091 opened #177 "Income of current month in dashboard page is incorrectly calculated"
**Firefly III Server Version:**
5.5.13
**Firefly III Mobile Version:**
4.11.0
**Android Version:**
11
**Device Information:**

- BRAND:ONEPLUS
- MODEL: ONEPLUS A6003 (OnePlus6)
--------------------------------------

## Expected Behavior
The net earning graph being generated based on the correct amount of income and expense.
## Current Behavior
The income graph of the current month is way to high.

[2021-08-29 03:25] emansih commented on #177
Hi. I will look into it. I currently have a couple of backlogs and I don't have the capability to fix it immediately. Sorry about it.

[2021-08-29 22:34] leander091 commented on #177
Hi @emansih, i did some digging and debugging and found the bug. I've also created an pull request to solve this issue.
So maybe this could help to reduce your backlog a little bit :)

[2021-08-31 22:17] #177 closed

[2021-09-05 02:08] schklom opened #179 "Customize individual debts in bills"
## Expected Behavior
In a large bill where one person pays for everyone, I can edit how much each person spends.
The only solution for now is to make one new bill for every participant.

Instead of dividing the total by the number of participants, please let us modify it if we choose.
Keep the division as the default, it is handy.

## Current Behavior
The total gets divided by the number of partic

[2021-09-05 05:43] emansih commented on #179
How do i replicate your bug in Firefly III web interface?

[2021-09-05 05:47] emansih commented on #179
I am quite sure this is a limitation of the Firefly III API. Needs investigation

[2021-09-07 14:28] MichalRybecky opened #180 "Menu not opening when Security option enabled"
**Firefly III Server Version:**
5.4.6
**Firefly III Mobile Version:**
4.12.0
**Android Version:**
11
**Device Information:**
Google Pixel 5 running CalyxOS with microG enabled, Photuris III downloaded from F-droid
- BRAND: Google
- MODEL: Pixel 5
--------------------------------------

## Expected Behavior
Menu opens after clicking Menu button.
## Current Behavior
Menu does not open, button does "

[2021-09-07 23:07] emansih commented on #180
Seems like the drawer isn't being initialised. I will look into it.

[2021-09-24 12:38] emansih commented on #180
Will be fixed in the next release

[2021-09-24 13:19] MichalRybecky commented on #180
Thank you!

[2021-09-24 13:19] #180 closed

[2021-09-30 22:28] gittbuh opened #182 "Currency display/edit problems"
**Firefly III Server Version:**
5.6.1
**Firefly III Mobile Version:**
4.13.1
**Android Version:**
11
**Device Information:**

- BRAND: Google
- MODEL: Pixel 4a
--------------------------------------

## Expected Behavior
When I click on a specific currency, that currency configuration screen appears.
## Current Behavior
The expected behavior happens from the first currency displayed (Euro) until t

[2021-09-30 22:49] emansih commented on #182
How many currencies do you have?

[2021-09-30 22:54] gittbuh commented on #182
The ones that come by default, I have not added or deleted anything, it is still a brand new installation. I counted 26 but the Euro one shows twice.

[2021-10-18 06:46] Jezz3 opened #184 "New App Version crashes on startup"
**Firefly III Server Version:**
5.6.2

**Firefly III Mobile Version:**
4.14.0/i think it also happens on 4.13.1

**Android Version:**
Android 11

**Device Information:**
- BRAND: Samsung
- MODEL: Galaxy A40
--------------------------------------

## Expected Behavior

## Current Behavior
App crashes on startup

## Steps to Reproduce
Install App, Start App

[code]

[2021-10-18 10:05] emansih commented on #184
ah. The fix from #183 broke it. It only affects upgrade. I will be pushing a new build ASAP

[2021-10-18 10:11] #184 closed, assigned to nobody

[2021-10-18 16:04] terxw opened #185 "repeated deauthentification"
**Firefly III Server Version:**
5.5.13
**Firefly III Mobile Version:**
4.14.1
**Android Version:**
Android 10
**Device Information:**
oneplus 6
--------------------------------------
## Expected Behavior
after login with url, id, oath token I can use app to connect to my selfhosted LAN server
## Current Behavior
after about week I cannot add new transcaction, with the message unauthentificated
I h

[2021-10-18 18:38] emansih commented on #185
Strange though, oauth returns a JSON Web Token that has a validity for 1 year. @JC5 any help?

[2021-10-19 17:15] terxw opened #186 "app crashes after startup"
**Firefly III Server Version:**
5.6.2

**Firefly III Mobile Version:**
4.14.1

**Android Version:**
10

**Device Information:**
oneplus 6

- BRAND:
- MODEL:
--------------------------------------

## Expected Behavior
app doesn't crash

## Current Behavior
app crashes at startup

## Steps to Reproduce
run the app

## Crash log
[code]

[2021-10-28 10:37] luxcel opened #187 "App crashes immediately after opening"
**Firefly III Server Version:**
5.6.2

**Firefly III Mobile Version:**
4.14.2

**Android Version:**
11

**Device Information:**

- BRAND: ASUS
- MODEL: ZenFone 6
--------------------------------------

## Expected Behavior
App opens normally.
## Current Behavior
App crashes immediately and opens Mail client so send bug report.
## Steps to Reproduce
Open app

## Crash log
[code]

[2021-10-28 16:37] #187 closed, assigned to nobody

[2021-10-30 09:48] mic05 commented on #186
I have exactly the same issue on an OnePlus 8T with Android 11. When will this issue be fixed?

[2021-10-30 09:58] emansih commented on #186
@mic05 Are you using 4.14.2?

[2021-10-30 09:59] emansih commented on #174
@tomasz-lasko Hello. Just an update on this issue. I am still working on this feature. If you look at `dev` branch, there is some early work on it.

[2021-10-30 09:59] mic05 commented on #186
I'm using latest Play Store Release which is 4.14.2 @emansih

[2021-10-30 10:00] emansih commented on #186
It's a weird issue. If you clear data and open the app again, it will work. I will investigate this issue tonight

[2021-12-04 23:14] SD-Chargers opened #189 "[Feature Request] Adding BasicAuth support"
**Firefly III Server Version:** 5.6.5

**Firefly III Mobile Version:** 4.14.2

**Android Version:** 10

**Device Information:**
- BRAND: Huawei
- MODEL: P30

--------------------------------------

Hello,
as stated above i was wondering if it would be possible to add support for HTTP BasicAuth for the app (or if it is working but i am doing something wrong)?

I am currenty using an NGINX webserver

[2021-12-05 10:05] emansih commented on #189
Hi. You will have to punch a hole through your firewall for this app to work. There was some discussion regarding this. https://github.com/emansih/FireflyMobile/issues/100

Also do you use NextCloud? If so, how does NextCloud handle it?

[2021-12-05 10:32] SD-Chargers commented on #189
A hole in the firewall aint the problem as the instance itself is in a sandboxed enviroment.

I will try an authelia setup for debugging purposes, was hoping to get around increasing complexity in the setup regardless - you cant possible get any simpler by using BasicAuth provided by the webserver.

However maybe ill find a way around the limitation by playing around with it and the issue you've l

[2021-12-05 11:34] emansih commented on #189
The app will function the same way as how you connect to other apps(such as Nextcloud), via a VPN.

[2021-12-05 12:14] SD-Chargers commented on #189
Okay so I've now have roughly the same setup as stated in #100

I am however not really ok with that and will workaround the problem using a nginx config that asks for a valid BasicAuth user via WAN and skips this step if the requests comes via the VPN network.

Not happy with that either but its a solution till I figure out if i keep FireflyIII or not.

Thanks for your help.

[2021-12-05 12:14] #189 closed

[2021-12-13 05:19] pablorocka opened #190 "Unable to change Source Account when editing a transaction"
**Firefly III Server Version:** 5.6.6

**Firefly III Mobile Version:** 4.14.2

**Android Version:**  11

**Device Information:**

- BRAND: Samsung
- MODEL: A52 5G
--------------------------------------

## Expected Behavior
When editing a transaction, tapping the drop-down box in Source Account should display the list of accounts

## Current Behavior
When editing a transaction, tapping the drop-do

[2021-12-15 19:43] misterAnderson90 opened #191 "Cryptographic APIs misuses"
**Firefly III Mobile Version:**
4.14.2
--------------------------------------
I'm a PhD student exploring the state-of-the-art of Static Analysis tools for detecting vulnerabilities due to crypto-API misuses.
This issue has not been generated automatically.

I have detected 35 warnings that reveal possible incorrect usages of the JCA library on FireflyMobile (or its library dependencies). I docume

[2021-12-15 20:22] emansih commented on #191
My email can be found in my profile

[2021-12-15 21:56] emansih commented on #191
My public GPG key can be found in my github profile too. (Key ID: 1512CF86EC5FDA00)

[2021-12-16 10:56] emansih commented on #190
Sorry for the late reply. I was unable to replicate this bug. Maybe try clearing app data and signing in again?

[2021-12-29 11:35] emansih commented on #174
Hello @tomasz-lasko . I can finally close this. This feature will be available in the next release. I am currently pushing a new build via Google Play.

[2021-12-29 11:35] #174 closed

[2021-12-29 11:35] #171 closed

[2021-12-29 11:40] emansih commented on #191
For the interest in public development I am posting the full email here:

[code]

I have fixed 1 to use the default SSL instead of instantiating a custom TLS. As for 2,3,4,5 I doubt they matter because keystore is specific to my app and no other apps can access them unless they have UID 0 (essentially root). Correct me if I am wrong.

[2021-12-29 13:48] tomasz-lasko commented on #174
Thank @emansih  you very much, looking forward to seeing this :) Actually I am using F-Droid repo for your app, but I guess it will be there in near future too :)

[2022-01-03 11:38] #164 closed

[2022-01-10 05:05] #191 closed

[2022-01-14 22:33] PietroMB opened #192 "App crash after setup"
**Firefly III Server Version:**
5.6.10

**Firefly III Mobile Version:**
5.0.1

**Android Version:**
10

**Device Information:**

- BRAND: Xiaomi
- MODEL: Mi MIX 2s - Polaris
- OS: LineageOS
--------------------------------------

## Expected Behavior
After setup the app via PAT I expect the app save the credentials and permit me to add transaction
## Current Behavior
App stop working just after fi

[2022-01-15 00:27] emansih commented on #192
Sorry about that. Could you try oauth?

[2022-01-15 00:27] emansih commented on #192
I will try to push out a fix tonight

[2022-01-15 00:35] emansih commented on #192
Ok. This is weird. It breaks _only_ on production builds. My debug builds doesn't break. It could be something regarding proguard.

[2022-01-15 10:20] PietroMB commented on #192
Wow @emansih, really too fast!
Anyway I've also tryed log in via oauth following your guide but it produce the same effect

[2022-01-15 10:26] emansih commented on #192
Try the new build that I pushed out a few hours ago. Should fix the issue

[2022-01-15 10:29] PietroMB commented on #192
I've just try the last build but with PAT looks not work, here the log

REPORT_ID=ccf6fc35-db9e-4b5c-9a92-23656562ac4e
APP_VERSION_NAME=5.0.3
PHONE_MODEL=Mi MIX 2S
BRAND=Xiaomi
PRODUCT=polaris
ANDROID_VERSION=10
BUILD_CONFIG=
STACK_TRACE=java.lang.RuntimeException: Unable to start activity ComponentInfo{xyz.hisname.fireflyiii/xyz.hisname.fireflyiii.ui.transaction.addtransaction.AddTransactionActiv

[2022-01-15 22:11] emansih commented on #192
Is this a fresh install? (Uninstall and install again). Tested on Mi 9T Pro, Android 11.

https://user-images.githubusercontent.com/5896415/149639268-80f9e1fd-2404-42b8-96f2-f914da6ee0be.mp4

[2022-01-15 22:21] PietroMB commented on #192
I'm sorry man, don't know why this wont work to me... here my steps
![signal-2022-01-15-231813](https://user-images.githubusercontent.com/15186555/149639438-2b9e6992-384e-4868-942c-393182a60df1.png)

https://user-images.githubusercontent.com/15186555/149639452-f6fe6227-6a51-494d-b229-a733056b99a9.mp4

[2022-01-15 22:26] PietroMB commented on #192
on my own server I can achieve this
app stops after pressing the bottom button

https://user-images.githubusercontent.com/15186555/149639552-5f43bdbe-06fe-46d0-a8e2-3ac887f4797b.mp4

[2022-01-15 22:51] emansih commented on #192
what happens if you use oauth?

[2022-01-15 22:53] PietroMB commented on #192
same as my last video

[2022-01-16 00:59] emansih commented on #192
https://drive.google.com/file/d/1i84Z_P1d8W9WnjOF0IilRHx_2M1pP5yt/view?usp=sharing

Try this. It _might_ fix your issue

[2022-01-16 22:07] viharm opened #193 "App crashes on startup"
**Firefly III Server Version:**
5.6.10

**Firefly III Mobile Version:**
Photuris II 5.0.3

**Android Version:**
11

**Device Information:**

- BRAND: Samsung
- MODEL: Galaxy A52
--------------------------------------
App crashing at startup

## Expected Behavior
App loads after logging in.

## Current Behavior
Crashing on startup

## Steps to Reproduce
Tried to login with personal access token and

[2022-01-16 22:15] emansih commented on #193
your issue seems similar to #192 but I am not able to replicate the issue. could you try to install this APK? https://drive.google.com/file/d/1i84Z_P1d8W9WnjOF0IilRHx_2M1pP5yt/view?usp=sharing

[2022-01-18 00:29] gthbusrr opened #194 "Crash upon authentication"
**Firefly III Server Version:**
5.6.10
**Firefly III Mobile Version:**
5.0.1
**Android Version:**
11
**Device Information:**

- BRAND: SAMSUNG
- MODEL: NOTE20 ULTRA
--------------------------------------

## Expected Behavior
Not Crash
## Current Behavior
Crash upon logging in with PAT. Even if the "log in " is successful, I'll be logged out after restarting the app. I've tried reinstalling the ap

[2022-01-18 00:36] gthbusrr commented on #194
Uninstalled and installed `5.0.3` (not F-Droid signed version)

[code]

[2022-01-18 02:27] emansih commented on #194
Yes. I have received multiple reports of this issue but I am not able to replicate it. #193 #192

I have attached a apk, please install and try it https://drive.google.com/file/d/1i84Z_P1d8W9WnjOF0IilRHx_2M1pP5yt/view?usp=sharing

[2022-01-18 02:27] emansih commented on #194
the previous 2 bug reporters have not gotten back to me. please do get back to me @gthbusrr

[2022-01-18 03:29] thegergo02 commented on #100
While this solves the issue for single user instances, if you have multiple users their tokens will be different and thus the rule will fail. A customizable header/get parameter would solve that.

[2022-01-18 03:44] thegergo02 commented on #194
5.0.1 (F-droid) was crashing for me, this build works.

[2022-01-18 03:50] emansih commented on #100
@thegergo02 you can use check for `User-Agent` key. The value is `xyz.hisname.fireflyiii`

[2022-01-18 03:51] emansih commented on #194
Thanks. @thegergo02 Does the google drive build works for everything? Viewing budget, bills, transactions, currencies, etc?

[2022-01-18 18:23] gthbusrr commented on #194
Hi @emansih , I have the same behaviour but different error with the APK you provided.

[code]

[2022-01-18 19:40] emansih commented on #194
Is it a fresh install? Uninstall and install again?

[2022-01-18 20:50] gthbusrr commented on #194
Hi, I've tried Uninstall and Install again. I've also cleared all data before uninstalling.

[2022-01-19 04:43] thegergo02 commented on #194
@emansih Yes.

[2022-01-19 04:45] thegergo02 commented on #100
Anyone could put that in their request and just see the account without authentication.

[2022-01-19 04:46] emansih commented on #194
Kinda weird. It crashes for some users

[2022-01-19 04:46] emansih commented on #100
No. They cannot view your account info without a bearer token

[2022-01-19 04:50] emansih commented on #194
@thegergo02 what android version and device are you using?

[2022-01-19 12:54] sysoppl opened #195 "App crash - char sequence is empty."
**Firefly III Server Version:**
5.6.10
**Firefly III Mobile Version:**
5.0.3 (Google Play) AND from https://github.com/emansih/FireflyMobile/issues/192#issuecomment-1013785197
**Android Version:**
12
**Device Information:**
- BRAND: Google
- MODEL: Pixel 4a
--------------------------------------

So as others, I have problem with launching app. It crashes right away leaving just the fingerprint re

[2022-01-20 08:01] thegergo02 commented on #100
@emansih Sorry, I forgot to mention, Firefly is in Remote user mode (so passing the REMOTE_USER header is sufficient enough).

[2022-01-20 08:05] thegergo02 commented on #194
@emansih Huawei P10 Lite ![Details](https://i.imgur.com/9UnfN1J.png)

[2022-01-20 21:17] emansih commented on #195
Weird bug. Google Play showed 0 crashes for the last 14 days. I can only _try_ to replicate the bug
![image](https://user-images.githubusercontent.com/5896415/150423511-e6ed9ac6-8adc-43ef-a9db-0002a7b58b65.png)

[2022-01-21 07:29] sysoppl commented on #195
Well, I installed it freshly from Google Play Store. Black screen with one tap is where fingerprint popup show up - it records black screen for privacy. Weirdly GPConsole won't show all crashed for my app either.

https://user-images.githubusercontent.com/30871217/150482988-730a7fbf-8d1e-4404-bb64-9db5ad20bd16.mp4

[2022-01-22 17:31] poiintt opened #196 "App crash on startup after invalid PAT login attempt"
**Firefly III Server Version:**
5.6.10
**Firefly III Mobile Version:**
5.0.3 (newer one from F-Droid)
**Android Version:**
12
**Device Information:**
- BRAND: Google
- MODEL: Pixel 3a
--------------------------------------

The app crashes immediately after opening it.

## Expected Behavior
App opens

## Current Behavior
App crashes

## Steps to Reproduce
install 5.0.3 (added on 18.01.22 from F-Dr

[2022-01-22 20:07] uriel1998 opened #197 "Crash on Launch"
**Firefly III Server Version:**
5.6.10
**Firefly III Mobile Version:**
Current 14 Jan Version (both from play store and f-droid)
**Android Version:**
10
**Device Information:**

- BRAND: Motorola
- MODEL:  G7 power
--------------------------------------

## Expected Behavior
Works
## Current Behavior
Crashes
[PhoturisIII_Bug_Report.txt](https://github.com/emansih/FireflyMobile/files/7919183/Photur

[2022-01-22 21:43] xxxcrow commented on #192
The version @emansih sent is working 💯

[2022-01-24 09:40] #192 closed

[2022-01-24 19:01] xxxcrow opened #198 "Crash on button press after login"
**Firefly III Server Version:**
5.6.10
**Firefly III Mobile Version:**
5.0.3
**Android Version:**
12.0
**Device Information:**

- BRAND: Xiaomi
- MODEL: MI 9
- ROM: AOSP, not MIUI
--------------------------------------
Latest version fixed crash on login, but now when i press any button in the dashboard the app crashes again(and i need to login.. again)
## Expected Behavior
Pressing buttons leads

[2022-01-25 08:01] sysoppl commented on #195
Well, 5.0.4 did nothing, same thing is happening.

[2022-01-25 10:26] michelebossa opened #199 "Crash First installation"
**Firefly III Server Version:**  5.6.10

**Firefly III Mobile Version:** 5.0.4

**Android Version:**  12

**Device Information:**

- BRAND: Samsun
- MODEL: A52
--------------------------------------
Crash at start up after filling URL and token
## Expected Behavior
No crash
## Current Behavior

## Steps to Reproduce

REPORT_ID=26da9c6c-8118-479c-b47b-65c56f3e5359
APP_VERSION_NAME=5.0.4
PHONE_MODEL

[2022-01-25 12:48] emansih commented on #195
Uninstalled and install again?

[2022-01-25 16:21] sysoppl commented on #195
Yeah, I tried that. Cannot even log in because of crash

[2022-01-26 02:50] #197 closed

[2022-01-26 03:56] emansih commented on #195
It's fixed, I hope. I borrowed a friend's phone to test it.

[2022-01-26 03:57] emansih commented on #199
I have pushed an update to the google play store and this issue should be fixed.

[2022-01-26 03:57] emansih commented on #198
I have pushed a new update to the google play store. I hope it fixes your issue.

[2022-01-26 11:56] michelebossa commented on #199
It is worked i'm closing these issue may thanks

[2022-01-26 11:56] #199 closed

[2022-01-26 12:10] michelebossa opened #200 "Correct handling of decimal separator and date"
Firefly III Server Version: 5.6.10

Firefly III Mobile Version: 5.0.5

Android Version: 12

Device Information:

BRAND: Samsun
MODEL: A52
--------------------------------------

## Expected Behavior
Correct handling of decimal separator for euro as ',' and i se a '.' .
Correct handling of data have a '/' separator and possibility to hide the time (show 12:00 AM but i haven't setted)
## Current Beh

[2022-01-26 15:29] michelebossa opened #201 "widget of account didn't work"
Firefly III Server Version: 5.6.10

Firefly III Mobile Version: 5.0.5

Android Version: 12

Device Information:

BRAND: Samsun
MODEL: A52
--------------------------------------
 These widget it is empty
<img width="157" alt="image" src="https://user-images.githubusercontent.com/38975058/151192286-5ffa7fef-ea3f-41dc-bf01-f3f31bbd633f.png">

## Expected Behavior
i have more account to show
<img widt

[2022-01-26 15:58] sysoppl commented on #195
Yess, 5.0.5 fixed all issues. Thank you

[2022-01-26 15:58] #195 closed

[2022-01-26 21:03] poiintt opened #202 "sharedPref dateTimeFormat cannot be cast to String"
After selecting a `Date Time Format` in the settings this error occurs:
[code]
This gets saved in the sharedPrefs after selecting the  `Date Time Format`:
[code]

This is line is causing the error:
https://github.com/emansih/FireflyMobile/blob/33032edac20dd0b2eaca79046a1b386c80242176/app/src/main/java/xyz/hisname/fireflyiii/data/local/pref/AppPref.kt#L136

Possible fix:
[code]

[2022-01-27 14:41] michelebossa opened #203 "Incorrect Category List into APP"
Firefly III Server Version: 5.6.10

Firefly III Mobile Version: 5.0.5

Android Version: 12

Device Information:

BRAND: Samsun
MODEL: A52
--------------------------------------
The category section was incorrec didn't show all value of the list at moment the list was restart again in the middle.

<img width="196" alt="image" src="https://user-images.githubusercontent.com/38975058/151378714-e266e2a

[2022-01-27 21:33] budda85 opened #204 "do not init() the default SSLContext"
**Firefly III Server Version:**
5.6.10
**Firefly III Mobile Version:**
5.0.3
**Android Version:**
12
**Device Information:**
Google Pixel 4a
GrapheneOS
--------------------------------------

## Expected Behavior
Login with https and self signed cert
## Current Behavior
Can't login.
I have install Firefly iii with docker on my synology nas.
I use a reverse proxy with a self signed cert.
With the B

[2022-01-27 21:58] emansih commented on #204
That's interesting. I used to init() using SSL but I was told that it was _insecure_ (https://gist.github.com/misterAnderson90/1a8107d45e5d427c41f2e55b747409f0) so I started using the default init(). Change occurred in https://github.com/emansih/FireflyMobile/commit/07af778faa3a3177578ffe6346c95bc8e7146226. I will change the behavior again.

[2022-01-30 20:53] poiintt commented on #196
This has been resolved in [v5.0.5 ](https://github.com/emansih/FireflyMobile/releases/tag/v5.0.5)
Thanks 👍🏻

[2022-01-30 20:53] #196 closed

[2022-01-31 10:11] michelebossa opened #205 "Future Request option to setting"
Firefly III Server Version: 5.6.10

Firefly III Mobile Version: 5.0.5

Android Version: 12

Device Information:

BRAND: Samsun
MODEL: A52
--------------------------------------
Dear Developer,
I'd like the possibility to move by some setting some fields from section "Optional Fields" to normal Field under adding of transaction.

I'n my cases i usually fill the Category for each transaction and now

[2022-02-01 10:28] emansih commented on #205
It is under optional setting because it is.... _optional_, it's the same as Firefly. I feel that this gives users a clear indication. Changing the UI will confuse users since they may think the fields are now mandatory.

[2022-02-01 10:37] michelebossa commented on #205
ok i understand the your point of view.

[2022-02-01 10:37] #205 closed

[2022-02-05 21:33] budda85 commented on #204
Is there a workaround, so that i can use the APP?

[2022-02-06 18:34] teldosas commented on #204
I went over the gist you posted and there it seems that it is suggested that something like this should be done:
[code]
So, maybe this is why we get the error?

[2022-02-06 20:50] emansih commented on #204
I will push out the update tonight

[2022-02-09 08:45] viharm commented on #193
Tried this APK. Same outcome. Debug output below...
[code]

[2022-02-09 09:14] emansih commented on #193
@viharm your crash log says you are running 5.0.3. That is _really_ old.... The latest is 5.0.6

[2022-02-09 12:51] viharm commented on #193
I don't know. I just installed the APK you sent ([here](https://github.com/emansih/FireflyMobile/issues/193#issuecomment-1013963368))

[2022-02-09 13:02] emansih commented on #193
Yeah... That was quite some time ago.... Get the new version from fdroid or Google play store

[2022-02-10 08:00] budda85 commented on #204
It works.
Thank you!

[2022-02-10 08:00] #204 closed

[2022-02-11 13:44] carranzamarioagustin opened #206 "Apps hangs permanently on first auth setup, then crashes on startup"
**Firefly III Server Version:**
5.6.14
**Firefly III Mobile Version:**
5.0.6
**Android Version:**
12
**Device Information:**

- BRAND: Samsung Galaxy
- MODEL: S10+
--------------------------------------

## Expected Behavior
App should authenticate and login normally

## Current Behavior
My setup is as follows:

- Self hosted Firefly instance in an LXC Debian 11 container, thats behind a firewall

[2022-02-13 09:38] Biskit1943 opened #207 "App crashing on Huawei BLA-L29"
Since a few weeks now the app is crashing on startup. I now even tried to opt into the beta program but that didn't fixed the issue.
Here is the report generated by the app:
[code]

Thanks for your work.

[2022-02-13 10:03] emansih commented on #207
What happens

1. When you clear app data.
2. Go to Android Settings -> Accounts -> Delete Photuris III account

Will that solve your issue?

[2022-02-13 10:03] emansih commented on #207
What happens if you uninstall and install again?

[2022-02-13 19:32] Biskit1943 commented on #207
Account wasn't there. Reinstall did help. 👍

[2022-02-15 14:39] Sirpotatos opened #208 "App Crashes on Launch (even after re-installing)"
**Firefly III Server Version:**
5.5.13
**Firefly III Mobile Version:**
5.0.6
**Android Version:**
12
**Device Information:**

- BRAND: Google
- MODEL: Pixel 4a 5g
--------------------------------------

## Expected Behavior
- Should be able to launch app and use it.
## Current Behavior
- App immediately crashes when opened.
- Tried re-installing and the issue persists.
## Steps to Reproduce
- Try

[2022-02-26 17:18] teldosas commented on #208
Seems like a duplicate of #206

[2022-02-26 17:20] teldosas commented on #206
I get the same when installing from Play Store or F-Droid. Interestingly, I don't get the error when building the 5.0.6 on my own and installing the debug version.

[2022-02-27 02:10] emansih commented on #206
@teldosas nice investigation! This issue has been bugging me for some time and I could not replicate it. I am more than happy to take a PR.

[2022-02-27 07:33] teldosas commented on #206
@emansih Nice! Would it make sense to move the creation of the account after the authentication succeeds?

[2022-02-27 15:16] Biskit1943 commented on #207
@teldosas Youre right, after removing all accounts and making sure the login does not fail it works (for now).
Thangs for the notice :)

[2022-02-28 04:56] Sirpotatos commented on #208
Will there be a fix for this issue soon? I've been unable to use the app
for over a month now even after trying to clear storage and app cache.

On Sat, Feb 26, 2022, 10:18 AM Aristotelis Dossas ***@***.***>
wrote:

[2022-02-28 16:30] teldosas commented on #208
@Sirpotatos check #206 there I propose a temporary solution (clearing data + removing android accounts). I will start a pull request soon for a more permanent solution.

[2022-03-06 09:32] fayek opened #210 "App Crash"
**Firefly III Server Version: 5.6.16

**Firefly III Mobile Version: 5.0.3

**Android Version: 12

**Device Information:

- BRAND: Samsung
- MODEL: Galaxy S20 FE
--------------------------------------

## Expected Behavior
I can connect to Firefly iii via Oauth and see the dashboard screen. The functions on the app should be usable.

## Current Behavior
Clicking something on the dashboard screen cr

[2022-03-06 12:42] teldosas commented on #210
This looks like a duplicate of #206

[2022-03-07 15:44] fayek commented on #210
That seemed to work. It did crash once more for no special reason but it seems to work now. Thank you.

[2022-03-07 15:44] #210 closed

[2022-03-15 19:30] WorldTeacher opened #213 "Allow HTTP to be used for VPNs"
**Firefly III Server Version:**
5.6.16
**Firefly III Mobile Version:**
5.0.6
**Android Version:**
11
**Device Information:**

- BRAND: Oneplus
- MODEL: 7 Pro
--------------------------------------

## Expected Behavior
when using HTTP with a VPN I should be able to connect to my firefly instance
## Current Behavior
the connection gets refused because "HTTP is not supported use HTTPS", but HTTPS do

[2022-03-25 06:41] beatbesmer opened #214 "App hangs while signin in using Personal Access token"
**Firefly III Server Version:**
5.6.16

**Firefly III Mobile Version:**
5.0.6 / 5.0.7

**Android Version:**
10
**Device Information:**

- BRAND: Huawei
- MODEL:  P Smart 2019
--------------------------------------

## Expected Behavior
A: Establish a connection to the server (B: create a transaction)

## Current Behavior
A: Setting up a connecting using a personal acces token shangs at approx. 90%

[2022-03-25 06:48] beatbesmer commented on #214
Ooops, seems a duplicate of https://github.com/emansih/FireflyMobile/issues/206

[2022-04-10 21:21] budimanjojo opened #215 "Adding Budget will crash the app"
Hello, thanks for creating the only useable mobile app for Firefly. Trying to add budget will crash the app. Here's the log
[code]

[2022-04-10 21:34] emansih commented on #215
Hi,What firefly iii version are you using?Thanks.Best regards,DanielOn 11 Apr 2022 7:21 am, Budiman Jojo ***@***.***> wrote:
Hello, thanks for creating the only useable mobile app for Firefly. Trying to add budget will crash the app. Here's the log
REPORT_ID=df90b584-b9e5-4850-8faa-e1dc26d04965
APP_VERSION_NAME=5.0.7
PHONE_MODEL=ONEPLUS A6010
BRAND=OnePlus
PRODUCT=OnePlus6T
ANDROID_VERSION=11
BUIL

[2022-04-11 06:22] budimanjojo commented on #215
I'm using latest firefly 5.7.1

[2022-05-21 15:21] nourthe opened #216 "App crash on first time setup"
**Firefly III Server Version:** 5.7.6

**Firefly III Mobile Version:** 5.0.6

**Android Version:**  10

**Device Information:**

- BRAND: Samsung
- MODEL: SM-G9600 (Galaxy S9)
--------------------------------------

## Expected Behavior
  Application starts.
## Current Behavior
  Application crash.
## Steps to Reproduce
  First time configuration, then can't start.

[PhoturisIII_Bug_Report.txt](ht

[2022-05-21 15:24] nourthe commented on #216
Sorry for the issue, it seems a duplicate of #206

[2022-05-21 15:30] nourthe commented on #206
Same here!

I fixed it deleting all my app-related android accounts.

I had aprox. 5 android accounts... Maybe because I failed attempting to add my server a lot of times.

[2022-06-05 15:29] hanshsieh opened #217 "App crash if duplicate a transaction and then delete it"
**Firefly III Server Version:**
5.7.9

**Firefly III Mobile Version:**
5.0.7

**Android Version:**
11

**Device Information:**

- BRAND: SAMSUNG
- MODEL: S20
--------------------------------------

## Expected Behavior
Should not crash, and the dashboard should automatically reload.

## Current Behavior
On the dashboard, there's a widget for the recent transactions.
I clicked one transaction, and

[2022-06-07 06:43] stratoss opened #218 "App crashes when trying to add a new transaction"
**Firefly III Server Version:** 5.7.5

**Firefly III Mobile Version:**  2.0.7

**Android Version:**  12

**Device Information:**

- BRAND: Samsung
- MODEL: Galaxy A72
--------------------------------------

## Expected Behavior
To be able to add new transaction

## Current Behavior
App crashes

## Steps to Reproduce
Set-up the app, then upgrade the server from 5.5.10 to 5.7.5. Seems that the mobil

[2022-06-07 06:47] stratoss commented on #218
Trying to refresh the token from the settings leads to the same issue.

[2022-06-07 07:15] stratoss opened #219 "Unable to sign-in via oauth"
**Firefly III Server Version:** 5.7.5

**Firefly III Mobile Version:** 5.0.7

**Android Version:**  12

**Device Information:**

- BRAND: Samsung
- MODEL: Galaxy A72
--------------------------------------

## Expected Behavior
To be able to log-in...

## Current Behavior
When I click on the app icon within the http://empty area with the code the app spins a loading wheel, and a second later a red

[2022-06-07 08:21] emansih commented on #218
Hello. I will look into it this weekend.

[2022-06-11 08:22] Still34 opened #220 "Cast exception causes instant crash at startup"
**Firefly III Server Version:** 5.7.9

**Firefly III Mobile Version:** 5.0.7

**Android Version:** 12.0

**Device Information:**

- BRAND: Sony
- MODEL: Xperia 1 II
--------------------------------------

## Expected Behavior
Be able to open the app and for it to not crash after setting up the server info.

## Current Behavior
Crash at startup. Queuing new transactions via notification does not cr

[2022-06-27 01:31] MrCaringi opened #223 "Android app crash when open"
**Firefly III Server Version:**
5.7.9
**Firefly III Mobile Version:**
5.0.3
**Android Version:**
10 QKQ1
**Device Information:**

- BRAND: XIAOMI
- MODEL: PocoPhone F1
--------------------------------------

## Expected Behavior
to open and display the dashboard

## Current Behavior
it crash when open

## Steps to Reproduce
touch the app to open

    REPORT_ID=02735326-2a94-4e47-a72d-ab19614beada

[2022-06-27 19:46] apollo13 opened #224 ""security" setting disabled even though Pin is configured"
**Firefly III Server Version:** 5.7.9

**Firefly III Mobile Version:** 5.0.7

**Android Version:**  10

**Device Information:**

- BRAND: Nokia
- MODEL:  7plus
--------------------------------------

## Expected Behavior

I'd like to go into settings and enable "security"

## Current Behavior

"security" is disabled and say "please enable pin / password / biometrics in your device settings"

## St

[2022-06-27 20:26] apollo13 commented on #224
I think I found the issue, FireflyMobile does test support via:

https://github.com/emansih/FireflyMobile/blob/4c7d3d121ca5127d19d5070f9b51c32f9ca047a0/app/src/main/java/xyz/hisname/fireflyiii/ui/settings/SettingsFragment.kt#L204-L205

The Android API docs https://developer.android.com/reference/androidx/biometric/BiometricManager#canAuthenticate(int) note:

this seems to suggest that on Android 1

[2022-06-28 06:25] apollo13 commented on #224
I have verified that the attached PR fixes the issue and imo it seems to correct to actually ask for biometric authenticators. That said I am not really familiar with Android APIs.

[2022-08-02 15:30] Dark-Gizmoa opened #227 "Rebuild apk after forking (http Support enabled)"
Hi there,

I forked the project and changed the nessary file (as mentioned in #176) for http Support (I Use firefly only in my local network without external Access)

The already existing Workflows/Actions are reconfigured (deleting uploading to playstore etc) and tried running them to create a New apk
But the Jobs keeps failing (deprecated commands) and I Can't Find the error.

Please help

[2022-08-03 09:37] #227 closed

[2022-08-03 09:37] Dark-Gizmoa commented on #227
I took the direct route --> apk creation via Android Studio

[2022-09-02 10:58] Dark-Gizmoa opened #228 "DirectX crash at startuo"
**Firefly III Server Version:**
v 5.7.10
**Firefly III Mobile Version:**
v 5.0.7
**Android Version:**
v 11
**Device Information:**

- BRAND: OnePlus
- MODEL: 7 Pro
--------------------------------------

## Expected Behavior
Starting the App and show the dashboard
## Current Behavior
Direct crash at startup
## Steps to Reproduce
Open the app

[2022-09-02 11:30] Dark-Gizmoa commented on #228
I can't attach the log file:-(
Therefore I Post the complete Text here:

REPORT_ID=fccd94a6-5775-43e1-a990-23f79e2bde86 APP_VERSION_NAME=5.0.7 PHONE_MODEL=GM1913 BRAND=OnePlus PRODUCT=OnePlus7Pro_EEA ANDROID_VERSION=11 BUILD_CONFIG= STACK_TRACE=java.lang.ClassCastException: java.lang.Integer cannot be cast to java.lang.String 	at android.app.SharedPreferencesImpl.getString(SharedPreferencesImpl.ja

[2022-09-07 21:51] Dark-Gizmoa commented on #228
I reinstalled the App from F-Droid, now everything is working finde.

As the error seems to be gone, I close the issue

[2022-09-16 23:44] FlutterFraz opened #229 "Error at login"
**Firefly III Server Version: latest**

**Firefly III Mobile Version5.0.7***

**Android Version:12**

**Device Information:Samsung s22**

--------------------------------------
After an apparent smooth login via either oauth and PT i get an error "Use JsonReader.setLenient(true) to accept malformed JSON at path $"

[2022-11-04 11:31] edersong commented on #213
I just bought the app and tried to use, but it's reporting that not support http.
As I have my setup running locally and access thru VPN, I requested the reimbursement and will buy it again when it supports http.
Following the app here in GitHub for updates.

[2022-11-26 23:09] Sirpotatos opened #232 "Token Not Refreshing Automatically"
**Firefly III Server Version:**
5.7.14
**Firefly III Mobile Version:**
5.0.7
**Android Version:**
13
**Device Information:**

- BRAND: Google
- MODEL: Pixel 4a 5g
--------------------------------------

## Expected Behavior
Token should refresh automatically every 24 hours, and even if it didn't the token shouldn't expire until the date listed on the same screen.
## Current Behavior
After a few we

[2022-11-27 08:50] emansih commented on #232
I am using Google's Work Manager library. Scheduling tasks on Android is finicky as Android provides very little guarantee that an app can run it's scheduled tasks. having said that, this is a pixel, I wouldn't expect this to be happening. I will investigate it when I have the time

[2022-11-28 14:02] joe733 commented on #213
Hi, I've a self-hosted FireflyIII on my LAN. Since it's a bit cumbersome to setup SSL certificates, it would be good to have an option to connect via `http`.